<!DOCTYPE html>
<html>

	<head>
		<title>SPA 1st Project Page</title>
		<link rel='stylesheet' href='/stylesheets/style.css' /> 
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> 
		<script src="javascripts/listener.js"></script>  
		
		<style>
			/* signup.ejs에서 쓰일 style이기에 css file에 안넣어 놓았으며, 배경이미지로 가져옴 */
			body { 
				background-image: url('/images/registerPicture.PNG');
				background-repeat: repeat-y; 
			}
		</style>
	</head>

	<body>
        <div>
			<div id = 'backgroundWhite'>Click the button you want
				<div id = 'container'>
					<a href = '/'><input type = 'button' id = 'home' value = 'HOME'></a>
					<a href = '/signup'><input type = 'button' id = 'signup' value = 'SIGN UP'></a>
					<a href = '/login'><input type = 'button' id = 'login' value = 'LOGIN'></a>
					<a href = '/search'><input type = 'button' id = 'search' value = 'SEARCH'></a>
				</div>
			</div>
		</div>

		<div id = "signupDiv">
			<!-- signup을 처리하기 위한 div -->
			<fieldset>
				<legend><h2>SIGN UP</h2></legend>
				<div id = 'signupAd'>
					<!-- 광고(사진)를 넣기 위한 자리 -->
					<img src = 'images/advertisement.PNG' width = '400px'>
				</div>
				<!-- loginState에 값이 있는 경우이며, 회원 가입 축하와 함께 loginID 출력 -->
				<%
					if(loginState) {
				%>
					<h2>
						회원 가입을 축하드립니다. <%= loginID%>님
					</h2>
				<%
					} else {
				%>
				<!-- loginState에 값이 없는 경우이며, signupContents 부분이 나오게 됨 -->
					<div id = 'signupContents'>
						<div id = 'signupMain'>
							ID<br><input id = 'signupID' placeholder = 'ID'><br> <!-- ID를 입력하는 공간 -->
							Password<br><input id = 'signupPW' type = 'password' placeholder = 'Password'><br> <!-- PWD를 입력하는 공간 -->
							Name<br><input id = 'signupName' placeholder = 'Name'><br> <!-- 이름을 입력하는 공간 -->
							Email<br><input id = 'signupEmail' type = 'email' placeholder = 'abcd@xxx.com'><br> <!-- 이메일을 입력하는 공간 -->
							Phone Number<br><input id = 'signupPhone' placeholder = 'xxx-yyyy-zzzz'><br> <!-- 핸드폰 번호를 입력하는 공간 -->
							<button id = 'signupBtn'>DONE</button> <!-- 모두 입력한 뒤 누르는 버튼 -->
							<button id = 'signupClearBtn'>CLEAR</button> <!-- 입력한 모든 것을 초기화 시키는 버튼 -->
						</div>
					</div>
				<%
					}
				%>
			</fieldset>
		</div>
	</body>
</html>